%% https://github.com/erlang/rebar3/blob/master/rebar.config.sample

{deps,[
  {cowboy, "1.0.4"},
  {jsx, "2.8.1"},
  {hashids, {git, "https://github.com/snaiper80/hashids-erlang", {branch, "1.0.5"}}}
]}.

{relx, [{release, {gb_alpha, "0.0.1"},
         [gb]},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]}.

{erl_opts, [debug_info]}.