.masthead.segment {
  min-height: 300px;
  padding: 1em 0em;
}

.message-list {

}
  .message-list .item.is-new {
    transform: translateZ(0);

    display: none;
  }

.fading-out {
  transition: all 1s !important;
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);

  opacity: 0;
}